.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDD ;
    border-radius: 4px;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .filters button {
    margin-right: 30px;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    opacity: 90%;
    opacity: 1; 
  }
  .filters button:hover {
    opacity: 0.9;
  }